.text-brand{
    color: #46A723 !important
}

.bg-brand{
    background-color: #46A723 !important
}

input {
    outline: none !important;
    border: none !important;
}

.max-width-400{
    max-width: 450px !important;

}